.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.w3-button:hover {
  color:#000!important;
  background-color:#ccc!important
}

.w3-xlarge {
  font-size:24px!important
}

.w3-teal,.w3-hover-teal:hover {
  color:#fff!important;
  background-color:#009688!important
}

.width {
  display: inline-block;
  min-width: 80px;
}

.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
